.content {
    margin-top: 3em;
    margin-bottom: 2em;
    padding-top: 0em;
    padding-bottom: 2em; 
    padding-left: 2em;
    padding-right: 2em;
}




.dir {
    margin: 3px;
    background: #fbfbfb;
    border: 1px solid #eee;
    border-radius: 3px;
    display: inline-block;
    padding: 15px 20px 15px 20px;
    width: 200px;
    overflow: hidden;
}

.dir:hover {
    background: #555;
    color: #eee;
}

.dir:hover > .fa-folder {
    color: #eee;
}

.cmd-bar {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 1em 1em 1em 1em;
    background: #555;
    color: #eee;
}

.cmd-bar div {
    display: inline;
    width: 200px;
}

.cmd-wrap {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
    
#returnbtn {
    float: left;
    width: 200px;
}

#sortbutton {
    float:right;
    bottom: 30px;
    
    width: 200px;
}

#sortbutton > button {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}
    

#pathfield {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    overflow: hidden;
}

/*
.cmd-bar button {
    margin-left: auto;
    margin-right: auto;
}
*/

#modefield {
    display: inline-block;
    clear: both;
}

#modebar {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    float: right;
}



