.content {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    padding-bottom: 2em; 
    padding-left: 2em;
    padding-right: 2em;
}

body, ul {
    list-style: none;
    font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif; 
}



.main-table {
    width: 100%;
    /* Remove spacing between table cells (from Normalize.css) */
    border-collapse: collapse;
    border-spacing: 0;
}



.main-table td,
.main-table th {
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 0.5em 1em; /* cell padding */
}

.main-table td:hover {
    background-color: #eee;
    border-radius: 4px;
}