.content {
    max-height: 300px;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 2em;
    padding-top: 0em;
    padding-bottom: 2em; 
    padding-left: 2em;
    padding-right: 2em;
    overflow-y: scroll;
}

body {
    background-color: #ffffff;
    color: #222;
}

body, ul {
    list-style: none;
    font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif; 
}

.cmd-bar {
    max-width:960px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 1em 1em 1em;
}

#pathfield {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.cmd-bar button {
    margin-left: auto;
    margin-right: auto;
}



.main-table {
    width: 100%;
    /* Remove spacing between table cells (from Normalize.css) */
    border-collapse: collapse;
    border-spacing: 0;
}



.main-table td,
.main-table th {
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 0.5em 1em; /* cell padding */
}

.main-table td:hover {
    background-color: #eee;
    border-radius: 4px;
}

#returnbtn {
    width:100px;
    margin-right: auto;
    margin-left: auto;
    padding: 1em 1em 1em 1em;
}
